.container{
    margin: 0 auto;
    width: 1200px;
}
.container_menu{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.container_destaque{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}
.container_formacao{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.container_contato{
    display: flex;
    gap: 16px;
    
}

@media (max-width:768px) {
    .container_menu{
        box-sizing: border-box;
        padding: 1rem;
    }
    .container{
        width: 100%;
    }
    .container_formacao{
        flex-wrap: wrap;
        padding: 16px;
        box-sizing: border-box;
    }
    .container_contato{
        display: block;
        padding: 16px;
        box-sizing: border-box;
    }
}