.contato__imagem{
    background: #281350 url('../../img/contato.png');
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px ;
    border: 1px solid var(--roxo);
    box-shadow: 0 0 5px var(--roxo);
    height: 596px;
    width: 464px;
}
@media screen and (max-width:768px) {
    .contato__imagem{
        width: 100%;
        box-sizing: border-box;
        display: none;
    }
}