.blob{
    filter: blur(5px);
    position: absolute;
}
.blob_esquerdo{
    animation: morph 5s linear infinite alternate, gira-blobs-d 26s infinite linear;
    bottom: 0;
    left: 0;
    scale: 1.2;
}
.blob_direito{
    animation: morph 6s linear infinite alternate, gira-blobs-e 36s infinite linear;
    right: 0;
    scale: 1.2;
    top: 0;
    
}
@keyframes gira-blobs-d {
    to{
        transform: rotate(1turn);
    }
}
@keyframes gira-blobs-e {
    to{
        transform: rotate(1turn);
    }
}
@keyframes morph {
    0% {     
        opacity: 0;            
        scale: 1.2;
        }
    100% {
            
        opacity: 1;
        scale: 1.4;
        }
}

@media (max-width:768px) {
    .blob{
        display: none;
    }
}