.cabecalho{
    align-items: center;
    background-color: var(--roxo-escuro);
    display: flex;
    height: 80px;
    justify-content: space-between;

}
@media screen and (max-width:375px){
    .cabecalho{
        height: 70px;
    }
}