.perfil__imagem{
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../../img/foto.png');
    /*border: 1px solid var(--roxo);*/
    box-shadow: inset 0 0 5px var(--roxo), 0 0 16px 8px var(--roxo-escuro);
    border-radius: 50%;
    height: 325px;
    margin-left: 4rem;
    width: 325px;
}
@media screen and (max-width:768px) {
    .perfil__imagem{
        flex-shrink: 0;
        height: 250px;
        margin: 0 auto;
        width: 250px;
    }
}