.perfil{
    align-items: center;
    display: flex;
    justify-content: center;
}

.perfil_thin_sm{
    color: var(--roxo);
    display: inline-block;
    font-weight: 300;
    font-size: 32px;
    position: relative;
    right: -4rem;
}
.perfil_bold{
    font-weight: 700;
    font-size: 68px;
    position: relative;
    right: -2rem;
    text-transform: uppercase;
}
.perfil_color_purple{
    color: var(--roxo);
}
.perfil_thin_md{
    font-weight: 300;
    font-size: 40px;
    position: relative;
    right: -1rem;
    text-transform: uppercase;
}
.perfil_thin_sm:before{
    background-image: url(../../img/linha.svg);
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 10px;
    left: -60px;
    position: relative;
    top: 29px;
    width: 50px;
}
.perfil_normal{
    position: relative;
    right: -2rem;
}
@media screen and (max-width:415px) {
    .perfil{
        display: block;
    }
    .perfil_bold{
        font-size: 42px;
        position: static;
    }
    .perfil_normal, .perfil_thin_md, .perfil_thin_sm{
        position: static;
    }
    .perfil_thin_md{
        position: static;
        font-size: 28px;
    }
    .perfil_color_purple{
        display: block;
    }
    .perfil_thin_sm{
        font-size: 28px;
    }
    
}

@media screen and (min-width:416px) and (max-width:768px) {
    .perfil_bold{
        position: static;
        font-size: 48px;
    }
    .perfil_normal{
        position: static;
    }
    .perfil_thin_md{
        font-size: 30px;
        position: static;
    }
    .perfil_thin_sm{
        display: none;
        position: static;
    }
    .perfil_color_purple{
        display: block;
    }
}