.formulario__label{
    font-size: 12px;
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    color: var(--branco);
    margin-bottom: -20px;
    margin-left: 5px;
    position: relative;
    z-index: 1;
}