.formulario__textarea{
    background-color: var(--roxo-form);
    border: none;
    border-bottom: 1px solid var(--branco);
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--roxo);
    display: inline-block;
    height: 133px;
    margin-bottom: 32px;
    outline: none;
    padding: 5px;
    resize:none;
}
.formulario__textarea:focus{
    border-color: var(--roxo);
}

.formulario__textarea::placeholder{
    color: var(--roxo);
    font-size: 16px;
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
}