.mostra-texto{
    opacity: 0;
    position: relative;
    transform: translateY(150px);
    transition: 1s all ease;
  }
  
.mostra-texto.mostra-texto_ativo{
    opacity: 1;
    transform: translateY(0);
}