.experiencia-profissional__preview{
    border: 1px solid var(--roxo-transparente);
    border-radius: 10px;
    box-shadow: 2px 5px 10px var(--roxo-escuro);
    height: 420px;
    overflow: hidden;
    width: 800px;
}
@media screen and (max-width:768px) {
    .experiencia-profissional__preview{
        width: 100%;
        border: none;
        height: auto;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 1rem;
        padding: 16px;
    }
}