.portfolio__frame{
    background-color: var(--branco);
    box-sizing: border-box;
    flex-shrink: 0;
    height: 227.2px;
    position: relative;
    width: 227.2px;

}
.portfolio__frame{
    border-radius: 10px;
    box-shadow: 2px 5px 10px var(--roxo-escuro);
    border: 1px solid var(--roxo);
    border-radius: 10px;
}

@media screen and (max-width:768px) {
    .portfolio__frame{
        width: 150px;
        height: 150px;
        flex-grow: 1;
        border-radius: 10px;
    }
}