.formacao-academica__item{
    align-items: center;
    background-color: var(--branco);
    border-radius: 15px;
    display: flex;
    height: 286px;
    justify-content: center;
    margin-bottom: 1rem;
}
@media screen and (max-width:768px) {
    .formacao-academica__item{
        height: 250px;
    }
}