.formacao-academica__frame{
    width: 100%;
}

@media screen and (max-width:768px) {
    .formacao-academica__frame{
        margin-bottom: 2rem;
    }
    .formacao-academica__frame:last-child{
        margin-bottom: 0;
    }
}