.formacao-academica{
    background-color: var(--roxo-escuro);
    padding: 32px 0 0 0;
}

.formacao-academica:after {
    content: '';
    bottom: -3rem;
    background-color: var(--roxo-escuro);
    display: block;
    height: 6rem;
    position: relative;
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
}
@media screen and (max-width:768px) {
    .formacao-academica:after{
        height: 3rem;
        bottom: -2rem;
    }
}