.formacao-academica__titulo{
    color: var(--branco);
    font-weight: 700;
    font-size: 32px;
    margin: 32px 0;
    text-align: center;
}

@media screen and (max-width:768px) {
    .formacao-academica__titulo{
        margin: 0;
    }
}